@{
    ViewBag.Title = "Home Page";
}
@model Bank.Models.Account
@using Bank.Models;
<h2>Main page</h2>

<div>
    @if (Model != null)
    {


        <table>
            <tr>
                <td>Идентификатор клиента:   </td>
                <td>@Model.Id</td>
            </tr>
            <tr>
                <td>Имя:    </td>
                <td>@Model.Name</td>
            </tr>
            <tr>
                <td>Фамилия:    </td>
                <td>@Model.Surname</td>
            </tr>
            <tr>
                <td>Сумма:    </td>
                <td>@Model.Money</td>
            </tr>
            <tr>
                <td>Логин пользователя:   </td>
                <td>@Model.login</td>
            </tr>
            <tr></tr>
        </table>
       @*@Html.ActionLink("Снять наличные","GetCash","AccountFunctional");*@
    using(Html.BeginForm("GetCash", "AccountFunctional"))
    {
        //ViewBag.logID = Model.login;
            <input type="submit" value="Снять наличные" />
        }
    }
    else
    {
        <p>добавление нового клиента банка связанного с данным пользователем</p>
        <h3>Форма регистрации нового клиента</h3>
        <p>@ViewBag.HttpUserName</p>
        <form method="post" action="">
            <input type="hidden" value="@ViewBag.Login" name="login" />
            <table>
                <tr>
                    <td><p>Введите свое имя </p></td>
                    <td><input type="text" name="Name" /> </td>
                </tr>
                <tr>
                    <td><p>Введите свою фамилию:</p></td>
                    <td><input type="text" name="Surname" /></td>
                </tr>
                <tr>
                    <td><p>Введите сумму денег :</p></td>
                    <td><input type="text" name="Money" /></td>
                </tr>


                <tr><td><input type="submit" value="Зарегестрировать" /> </td><td></td></tr>
            </table>
        </form>
        //создание нового клиента банка связанного с данным пользователем
    }

</div>


@*@{
        ViewBag.Title = "Home Page";
    }
    @model List<Bank.Models.Account>
    @using Bank.Models;
    <h2>Main page</h2>

    <div>
        <h3>все пользователи</h3>
        <table>

            @foreach (Account acc in Model)
                {
                <tr>
                    <td><p>@acc.Id</p></td>
                    <td><p>@acc.Money</p></td>
                    <td><p>@acc.Name</p></td>
                    <td><p>@acc.Surname</p></td>
                </tr>
            }
        </table>
    </div>*@