@{
    ViewBag.Title = "Home Page";
}
@model Bank.Models.Account
@using Bank.Models;
<h2>Main page</h2>

<div>
    @if (Model != null)
    {
        if (ViewBag.OperMsg != null)
        {
            <h3>@ViewBag.OperMsg</h3>
        }

        <table>
            <tr>
                <td>Идентификатор клиента:   </td>
                <td>@Model.Id</td>
            </tr>
            <tr>
                <td>Имя:    </td>
                <td>@Model.Name</td>
            </tr>
            <tr>
                <td>Фамилия:    </td>
                <td>@Model.Surname</td>
            </tr>
            <tr>
                <td>Сумма:    </td>
                <td>@Model.Money</td>
            </tr>
            <tr>
                <td>Логин пользователя:   </td>
                <td>@Model.login</td>
            </tr>
            <tr></tr>
        </table>
    using (Html.BeginForm("GetCash", "AccountFunctional", FormMethod.Get))
    {
        <input type="submit" value="Снять наличные" />
    }
    using (Html.BeginForm("Transaction", "AccountFunctional", FormMethod.Get))
    {
        <input type="submit" value="перевести деньги" />
    }
    using (Html.BeginForm("Deposit", "AccountFunctional", FormMethod.Get))
    {
        <input type="submit" value="Положить деньги на депозит" />
    }
    using (Html.BeginForm("DepositReport", "AccountFunctional", FormMethod.Get))
    {
        <input type="submit" value="Отчет по депозитам" />
    }

    using (Html.BeginForm("Index", "Report", FormMethod.Get))
    {
        <input type="submit" value="Отчет о денежных движениях" />
    }

    }
    else
    {
        <p>добавление нового клиента банка связанного с данным пользователем</p>
        <h3>Форма регистрации нового клиента</h3>
        <p>@ViewBag.HttpUserName</p>
        <form method="post" action="">
            <input type="hidden" value="@ViewBag.Login" name="login" />
            <table>
                <tr>
                    <td><p>Введите свое имя </p></td>
                    <td><input type="text" name="Name" /> </td>
                </tr>
                <tr>
                    <td><p>Введите свою фамилию:</p></td>
                    <td><input type="text" name="Surname" /></td>
                </tr>
                <tr>
                    <td><p>Введите сумму денег :</p></td>
                    <td><input type="text" name="Money" /></td>
                </tr>


                <tr><td><input type="submit" value="Зарегестрировать" /> </td><td></td></tr>
            </table>
        </form>
    }

</div>